renoes/.ipynb_checkpoints/*
renoes/Espoo_landuse/*
renoes/Vantaa_landuse/*
renoes/Helsinki_landuse/*
renoes/HEL_ESP_VAN_KAU_bike_routes.graphml
renoes/Espoo_bike_routes.graphml
renoes/Helsinki_bike_routes.graphml
renoes/Vantaa_bike_routes.graphml
renoes/vanhat/*
Final_Project_Material_Geonobles_1/soenke/.ipynb_checkpoints/*
Final_Project_Material_Geonobles_1/soenke/Vantaa_landuse/*
Final_Project_Material_Geonobles_1/soenke/Vantaa/*
Final_Project_Material_Geonobles_1/soenke/Helsinki_landuse/*
Final_Project_Material_Geonobles_1/soenke/Helsinki/*
Final_Project_Material_Geonobles_1/soenke/Espoo_landuse/*
Final_Project_Material_Geonobles_1/soenke/Espoo/*
Final_Project_Material_Geonobles_1/soenke/HEL_ESP_VAN_KAU_bike_routes.graphml
Final_Project_Material_Geonobles_1/soenke/pictures/*